<html>

<head>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
</head>

<body class="container_login">
    <div class='flex_column'>
        <div class="flex heading_div">
            <img src="../../static/images/workos-logo-with-text.png" alt="workos logo">
        </div>

        <h2>Python Django Directory Sync Example App</h2>
        <hr style="width:100%">
        <a href="/webhooks" class="button width-95 button-outline">Test Webhooks</a>
        <hr style="width:100%">
        {% for i in directories %}
        <a class="button width-95" href="/directory?id={{i.id}}">{{ i.name }}</a>
        {% endfor %}
        <hr style="width:100%">
        <div class="flex">
            {% if after %}
                <a href="/?after={{after}}"><button class="button button-outline">Previous</button></a>
            {% endif %}
            {% if before %}
                <a href="/?before={{before}}"><button class="button button-outline">Next</button></a>
            {% endif %}
        </div>
    </div>
</body>

</html>