

<html>
    <head>
      <link rel="stylesheet" href="../../static/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    </head>
    <body class="container_login">
        <div class='flex_column'>
            <div class="flex heading_div">
                <img src="../../static/images/workos_logo_new.png" alt="workos logo">
                <div class="heading_text_div">
                    <h1>WorkOS</h1>
                </div>
            </div>
            
            <h2>Python Flask Directory Sync Example App</h2>
            {% for i in directories %}
                <a class="button login_button" href="/directory?id={{i.id}}">{{ i.name }}</a>
            {% endfor %}            
        </div>
    </body>
</html>