<html>

<head>
    <link rel="stylesheet" type='text/css' href="../../static/css/main.css">
</head>

<body class="container_success">
    <div class="logged_in_nav">
        <div class="flex">
            <div>
                <img src="../static/images/workos_logo_new.png" alt="workos logo">
            </div>
            <div class="flex">
                <p>WorkOS</p>
            </div>
        </div>
        <div>
            <a href="https://workos.com/docs" target="_blank"><button class='button nav-item'>Documentation</button></a>
            <a href="https://workos.com/docs/reference" target="_blank"><button class='button nav-item'>API
                    Reference</button></a>
            <a href="https://workos.com/blog" target="_blank"><button
                    class='button nav-item blog-nav-button'>Blog</button></a>
            <a href="https://workos.com/" target="_blank"><button class='button button-outline'>WorkOS</button></a>
        </div>
    </div>
    <div class='flex'>
        <div class="logged_in_div_left">
            <div class="title-text">
                <h1>Your app,</h1>
                <h2 class="home-hero-gradient">Enterprise Ready</h2>
            </div>
            <div class="title-subtext">
                <p>Start selling to enterprise customers with just a few lines of code.</p>
                <p>Implement features like single sign-on in minutes instead of months.</p>
            </div>
            <div class="flex success-buttons">
                <a href="https://workos.com/signup" target="_blank"><button class='button'>Get Started</button></a>
                <a href="mailto:sales@workos.com?subject=WorkOS Sales Inquiry" target="_blank"><button
                        class='button button-outline sales-button'>Contact
                        Sales</button></a>
            </div>
        </div>
        <div class="logged_in_div_right">
            <div id="webhooks-view-div" class="flex_column">
                <div class="flex width-40vw space-evenly">
                    <h2>Live Webhooks View</h2>
                    <div id="tutorial_button">
                        <a href="https://workos.com/blog/test-workos-webhooks-locally-ngrok" target="_blank"
                            class="button mt-15">Tutorial</a>
                        <a href="javascript:history.back()"><button class='button button-outline'>Back</button></a>
                    </div>
                </div>
                <div id="webhooks-view" class="width-40vw webhooks-container">

                </div>
            </div>
            <div id='clear_button_div' class='flex directory_container'>

                <div id="clear_button" class="hidden flex flex-right width-40vw">
                    <a href="/webhooks" class="button mt-10">Clear</a>
                    <a href="javascript:history.back()"><button class='button button-outline mt-10'>Back</button></a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var counter = 0
        var webhooksViewDiv = document.getElementById('webhooks-view-div')
        var webhooksView = document.getElementById('webhooks-view')
        var clearButtonDiv = document.getElementById('clear_button_div')
        var clearButton = document.getElementById('clear_button')
        var tutorialButton = document.getElementById('tutorial_button')

        var socket = io("http://localhost:8000")
        socket.on('connect', function () {
            console.log('socket connection successful')
        })

        socket.on('webhook_received', (data) => {
            console.log('webhook received')
            var formattedData = JSON.stringify(JSON.parse(data), null, 2)
            webhooksView.classList.add("webhooks_container")
            webhooksViewDiv.classList.add("mt-150")
            webhooksView.insertAdjacentHTML("afterbegin",

                "<div class='margin_top width-40vw'> Webhook received at: " + new Date().toISOString() + "</div>" +
                "<br/>" +
                "<pre>" + "<code>" + formattedData + "</code>" + "</pre>" +
                "<br/>" + "<hr/>" + "<br/>"
            );
            if (counter < 1) {
                clearButtonDiv.classList.remove('login_button')
                clearButtonDiv.classList.add('flex_right')
                clearButton.classList.remove('hidden')
                tutorialButton.classList.add('hidden')
                counter++
            }
        })
    </script>
</body>

</html>