<html>
    <head>
        <link rel="stylesheet" type='text/css' href="../../static/css/main.css">
    </head>
    <body class="container_success">
        <div class="logged_in_nav">
            <div class="flex">
                <p>Webhooks</p>
            </div>
            <div>
                {% load static %}
                <img src="{% static 'images/workos_logo_new.png'%}" alt="workos logo">
            </div>
        </div>
        <div class='flex'>
            <div class="logged_in_div_left">
                <div>
                    <h1>Your app,</h1>
                    <h2>Enterprise Ready</h2>
                </div>
                <div>
                    <a href="https://workos.com/" target="_blank"><button class='button'>WorkOS</button></a>
                    <a href="https://workos.com/docs" target="_blank"><button class='button'>Documentation</button></a>
                    <a href="https://workos.com/docs/reference" target="_blank"><button class='button'>API Reference</button></a>
                    <a href="https://workos.com/blog" target="_blank"><button class='button'>Blog</button></a>
                    <a href="/"><button class='button'>Home</button></a>
                </div>
            </div>
            <div class="logged_in_div_right">
                <div class="flex_column">
                    <h2>Webhooks</h2>
                    <div id="webhooks-view">
                        
                    </div>
                </div>
                <div id='clear_button_div' class='flex directory_container'>
                    <div id="tutorial_button" class="flex half_width">
                        <a href="https://workos.com/blog/test-workos-webhooks-locally-ngrok" target="_blank" class="button login_button">Tutorial</a>
                    </div>
                    <div id="clear_button" class="hidden">
                        <a href="/webhooks" class="button button_outline">Clear</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            var counter = 0
            var webhooksView = document.getElementById('webhooks-view')
            var clearButtonDiv = document.getElementById('clear_button_div')
            var clearButton = document.getElementById('clear_button')
            var tutorialButton = document.getElementById('tutorial_button')

            var socket = io("http://localhost:8000")
            socket.on('connect', function() {
                console.log('socket connection successful')
            })
                    
            socket.on('webhook_received', (data) => {
                console.log('webhook received', data);
                webhooksView.classList.add("webhooks_container")
                webhooksView.insertAdjacentHTML("afterbegin",
                
                "<div class='margin_top'> Webhook received at: " + new Date().toISOString() + "</div>" +
                "<br/>" +
                "<code>" + data + "</code>" +
                "<br/>"
                );
                if (counter < 1) {
                    clearButtonDiv.classList.remove('login_button')
                    clearButtonDiv.classList.add('flex_right')
                    clearButton.classList.remove('hidden')
                    tutorialButton.classList.add('hidden')
                    counter ++
                }
            })
        </script>
    </body>
</html>