<html>

<head>
    <link rel="stylesheet" href="../../static/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
</head>

<body class="container_login">
    <div class='flex_column'>
        <div class="flex heading_div">
            <div class="flex">
                <div class="workos-logo">
                    <img src="../static/images/workos_logo.png" alt="workos logo">
                </div>
            </div>
        </div>
        <h2>Python Django Magic Link Example App</h2>
        <form method="POST" action="{% url 'passwordless_auth' %}">
            {% csrf_token %}
            <div class='flex_column'>
                <div>
                    <input type="text" id="email" name="email" class="text_input">
                </div>
                <div>
                    <button type="submit" class="button">Submit Email for Magic Link</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>