{% load static %}

<html>

<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
</head>

<body class="container_success">
    <div class="logged_in_nav">
        <div class="flex">
            <div>
                <img src="../static/images/workos_logo_new.png" alt="workos logo">
            </div>
            <div class="flex">
                <p>WorkOS</p>
            </div>
        </div>
        <div>
            <a href="https://workos.com/docs" target="_blank"><button class='button nav-item'>Documentation</button></a>
            <a href="https://workos.com/docs/reference" target="_blank"><button class='button nav-item'>API
                    Reference</button></a>
            <a href="https://workos.com/blog" target="_blank"><button
                    class='button nav-item blog-nav-button'>Blog</button></a>
            <a href="https://workos.com/" target="_blank"><button class='button button-outline'>WorkOS</button></a>
        </div>
    </div>
    <div class='flex'>
        <div class="logged_in_div_left">
            <div class="title-text">
                <h1>Your app,</h1>
                <h2 class="home-hero-gradient">Enterprise Ready</h2>
            </div>
            <div class="title-subtext">
                <p>Start selling to enterprise customers with just a few lines of code.</p>
                <p>Implement features like single sign-on in minutes instead of months.</p>
            </div>
            <div class="flex success-buttons">
                <a href="https://workos.com/signup" target="_blank"><button class='button'>Get Started</button></a>
                <a href="mailto:sales@workos.com?subject=WorkOS Sales Inquiry" target="_blank"><button
                        class='button button-outline sales-button'>Contact
                        Sales</button></a>
            </div>
        </div>
        <div class="logged_in_div_right">
            <div class="flex_column">
                <div class="flex">
                    <div class="flex-column">
                        <div>
                            <h2>Factor Details</h2>
                        </div>
                        <div class=" flex space-evenly text_box">
                            <ul>
                                <li class="even">Factor ID: <code>{{factor.id}}</code></li>
                                <li>Type: <code>{{factor.type}}</code></li>
                                {% if factor.type == 'totp' %}
                                <li class="even">User: <code>{{factor.totp.user}}</code></li>
                                {% endif %}
                                {% if factor.type == 'sms' %}
                                <li class="even">Phone Number: <code>{{phone_number}}</code></li>
                                {% endif %}

                                <li>Created At: <code>{{factor.created_at}}</code></li>
                                <li class="even">Updated At: <code>{{factor.updated_at}}</code></li>
                            </ul>


                            {% if factor.type == 'totp' %}
                            <div class="qr_div">
                                <img class="qr_code" src="{{ qr_code }}" alt="qr_code">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="flex-column">
                    <div>
                        <form method="POST" action="{% url 'challenge_factor' %}">
                            <div class='flex_column'>
                                {% if factor.type == 'sms' %}
                                <div>
                                    <input type="text" id="sms_message" name="sms_message" class="text_input"
                                        placeholder="{% verbatim %}SMS Message + {{code}}{% endverbatim %}">
                                </div>
                                {% endif %}
                                <div class="flex space-evenly width-20vw mt-10">
                                    <div>
                                        <button type=" submit" class="button">Challenge Factor</button>
                                    </div>
                                    <div>
                                        <a href="javascript:history.back()"><button type="button"
                                                class='button button-outline'>Back</button></a>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>